
.VM-plans{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &.container{
        padding: 20px;
        margin-top: 20px;
    }
    
    h2{
        font-family: $VM-font-family;
        font-size: 1.5em;   
        font-weight: 700;
        color: $VM-orange;
        text-align: center;
        width: 100%;
    }

    .VM-card{
        border-radius: $VM-border-radius-l;
        border: 1px solid $VM-grey-01;
        max-width: 350px;
        min-height: 420px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        &:hover{
            // background-color: $secondary;
        }

        span{
            text-align: center;
            color: $VM-grey-03;
            font-size: 2.5rem;

            &:hover{
                cursor: default;
            }
        }

        h3{
            color: $primary;
            text-align: center;
            font-size: 1.2rem;
            
            &:hover{
                cursor: default;
            }
        }

        ul{
            color: $VM-grey-02;
            font-size: 0.9rem;

            &:hover{
                cursor: default;
            }
        }

        div:nth-last-of-type(1){
            display: flex;
            align-items: flex-end;
            height: 100%;
            flex-grow: 1;

            a{
                width: 100%;
            }
        }
    }

}

.VM-recipes{
    &.container{
        justify-content: center;
    }
    
    h2{
        width: 100%;
    }

    .VM-card-recipes{
        border-radius: $VM-border-radius-l;
        border: 1px solid $VM-grey-01;
        max-width: 350px;
        min-height: 420px;
        width: min-content;
        display: flex;
        flex-direction: column;

        img{
            border-radius: 45px 45px 0 0;
        }

        >div{
            padding: 15px;
            height: max-content;

            h3{
                color: $VM-black;
                font-size: 1rem;
            }

            ul, p{
                color: $VM-grey-02;
                font-size: 0.9rem;
            }

            p{
                margin-bottom: 0;
            }

            div{
                height: 80px;
                display: flex;
                align-items: flex-end;
            }

            .VM-buttonPrimary{
                width: 100%;
            }
        }
}
}

@media (min-width: 769px) {
    .VM-plans{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .VM-card{
            min-height: inherit;
            height: 500px;

            ul{
                font-size: 0.9rem;
            }
        }
    }
}