*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $VM-font-family-secondary, sans-serif;
}

.VM-title-H1{
    font-family: $VM-font-family;
    font-size: 2em;
    font-weight: 700;
}

.VM-button{
    padding: 10px 25px;
    border-radius: $VM-border-radius-m;
    text-decoration: none;
    text-align: center;
    height: fit-content;
    cursor: pointer;
}

.VM-buttonPrimary{
    @extend .VM-button;
    color: $VM-white;

    background: $primary;

    &:hover{
        background-color: #006321;
    }
}

.VM-buttonSecondary{
    @extend .VM-button;
    background-color: $secondary;
    color: $primary;
}

.VM-hero{
    background-color: $secondary;
    height: 100vh;
    min-height: 500px;
    padding: 80px 15px 15px 15px;
    margin-top: 56px;

    >div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    div {
        div:nth-of-type(1){
         max-width: 400px;
         width: inherit;
         position: relative;

         img{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 100%;
         }
        }
    }
}

.VM-action{
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .VM-action-surface{
        background-image: url(../assets/food-01.webp);
        background-size: cover;
        background-position: center;
        filter: brightness(0.5);
        height: 100%;
        width: 100%;
        margin-top: 40px;

        + div{
            position: absolute;
            padding: 20px;
            text-align: center;
        }
    }


    p{
        color: $VM-white;
        font-size: 1.4rem;
    }

}	

.VM-presentation{
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    >div{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 80%;
            max-width: 350px;
            border-radius: 100%;
        }
    }

    p{
        span{
            font-size: 2.2rem;
        }
    }
}


@media (min-width: 769px) {
    .VM-hero > div{
        height: 700px;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        gap: 50px;
    }

    .VM-presentation{
        flex-direction: row;

        >div{
            width: 75%;
        }
    }
}

@media (min-width: 992px) {
    .VM-hero {
        div{
            div:nth-of-type(1){
                max-width: 600px;
            }
        } 
    }
}